get-grey(s = false)
  if s == 50
    rgba(#fafafa)
  else if s == 100
    rgba(#f5f5f5)
  else if s == 200
    rgba(#eeeeee)
  else if s == 300
    rgba(#e0e0e0)
  else if s == 400
    rgba(#bdbdbd)
  else if s == 500
    rgba(#9e9e9e)
  else if s == 600
    rgba(#757575)
  else if s == 700
    rgba(#616161)
  else if s == 800
    rgba(#424242)
  else if s == 900
    rgba(#212121)
  else if s == 1000
    rgba(#f5f5f5)
  else if s == 1100
    rgba(#eeeeee)
  else if s == 1200
    rgba(#e0e0e0)
  else if s == 1300
    rgba(#bdbdbd)
  else
    rgba(#9e9e9e)

bg-grey(s = false)
  background-color:get-grey(s)

text-grey(s = false)
  color:get-grey(s)
  &:hover
    color:get-grey(s)

border-grey(s = false)
  border-color:get-grey(s)
