$accent-color     = get-grey(800)
$ambient-color    = get-grey()

$main-color       = get-deep-orange()
$strong-color     = get-deep-orange(900)
$weak-color       = get-deep-orange(100)

$link-color       = get-deep-orange(300)
$link-hover-color = get-cyan()
$text-color       = $accent-color
$bg-color         = get-grey(50)

$font-size        = 14px
$line-height      = 22px
