header(class=styles.header)
  h1
    a(href='#/') React Stylus Webpack boilerplate
  h2 A starter kit for creating applications using react and stylus
  a(class=styles.stylusLogo href='https://learnboost.github.io/stylus/')
  a(class=styles.reactLogo href='https://facebook.github.io/react/')
