@import "../../theme/base"

.header
  background-color: get-deep-orange()
  color: get-white()
  padding: 60px 20px 50px 30px

  h1
    margin: 0
    font-size: 44px
    font-weight: 600
    font-style: italic

  h2
    margin: 12px 0 0 3px
    font-size: 24px
    font-weight: 100
