:global
  .fancyText {
    padding: 20px;
  }
  .fancyText .line{
    display: block;
    margin-bottom: 20px;
  }
  .custom {
    background: #e24b3b;
    background-size: 175%;
    color: whitesmoke;
    display: inline-block;
    width: 50px;
    height: 70px;
    font-size: 55px;
    text-align: center;
    -webkit-animation: 22s rotate-hue linear infinite;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  .custom:nth-of-type(odd) {
    -webkit-transform: scale(1) skewY(-15deg);
    -moz-transform: scale(1) skewY(-15deg);
    transform: scale(1) skewY(-15deg);
  }
  .custom:nth-of-type(even) {
    background: #A3382D;
    -webkit-transform: scale(1) skewY(15deg);
    -moz-transform: scale(1) skewY(15deg);
    transform: scale(1) skewY(15deg);
  }
  .custom-1 {
    -webkit-animation-delay: 1s;
  }
  .custom-2 {
    -webkit-animation-delay: 2s;
  }
  .custom-3 {
    -webkit-animation-delay: 3s;
  }
  .custom-4 {
    -webkit-animation-delay: 4s;
  }
  .custom-5 {
    -webkit-animation-delay: 5s;
  }
  .custom-6 {
    -webkit-animation-delay: 6s;
  }
  .custom-7 {
    -webkit-animation-delay: 7s;
  }
  .custom-8 {
    -webkit-animation-delay: 8s;
  }
  .custom-9 {
    -webkit-animation-delay: 9s;
  }
  .custom-10 {
    -webkit-animation-delay: 10s;
  }
  .custom-11 {
    -webkit-animation-delay: 11s;
  }
  .custom-12 {
    -webkit-animation-delay: 12s;
  }
  .custom-13 {
    -webkit-animation-delay: 13s;
  }
  .custom-14 {
    -webkit-animation-delay: 14s;
  }
  .custom-15 {
    -webkit-animation-delay: 15s;
  }
  .custom-16 {
    -webkit-animation-delay: 16s;
  }
  .custom-17 {
    -webkit-animation-delay: 17s;
  }
  .custom-18 {
    -webkit-animation-delay: 18s;
  }
  .custom-19 {
    -webkit-animation-delay: 19s;
  }
  .custom-20 {
    -webkit-animation-delay: 20s;
  }
  .custom-21 {
    -webkit-animation-delay: 21s;
  }
  .custom-22 {
    -webkit-animation-delay: 22s;
  }
  @-webkit-keyframes rotate-hue {
    0% { -webkit-filter: hue-rotate(0deg); }
    100% { -webkit-filter: hue-rotate(360deg); }
  }
