@import "../../theme/base"

.footer
  background-color: get-deep-orange()
  color: get-white()
  padding: 10px 20px 10px 60px

  p
    margin: 0
    font-weight: 200

  strong
    font-weight: 400

  a
    color: get-grey(100)
    font-weight: 400
    text-decoration: none
    &:hover
      color: get-white()
      text-decoration: none
